@charset "utf-8";
/* CSS Document */

div {
    background-color: #6c1d20;
    color: #ffffff;
    height: 150px;
    width: 600px;
    text-align: justify;
    font-family: sans-serif;
    line-height: 30px;
    padding: 20px;
}

span {
    border: solid 1px;
    border-color: #ffffff;
    font-family: sans-serif;
    font-weight: bold;
    padding: 2px;
}

.spanpreco {
    border: solid 1px;
    border-color: #ffffff;
    font-family: sans-serif;
    font-weight: bold;
    padding: 2px;
    color: #00fd00;
    font-size: 17px;
    
}