@charset "utf-8";
/* CSS Document */

body {
	background-color: #fff;
    font-family: sans-serif;
}
h3 {
    color: #460303;
    font-size: 18px;
    font-family: sans-serif;
}
h2 {
	color: #460303;
    font-size: 18px;
    font-family: sans-serif;
}

a {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
	text-decoration: underline; 
	color: #f00
    
}

.image {
	margin: 1px 4px 0 0;
	padding: 1px; /* Tamanho da borda */
	background-color: #fff; 
	border: 3px solid #5d3232; /* Cor da borda */
	border-radius: 2px;
	height: 180px;
	width: 210px;
     -webkit-filter:grayscale(100%);
}
.image:hover{
    -webkit-filter:grayscale(0%);
    transition: 1s;
}


hr {
      color: #800000;
      background-color: #800000;
      height: 2px;
}

table {
    
    width: 600px;
    height: 300px;
    
}

th {
    border: 1px solid black;
    font-family: sans-serif;
    background-color: #800000;
    color: white;
}

td {
   border: 1px solid black;
   font-family: sans-serif;
   background-color: #f2f2f2;
}

tfoot {
    font-family: sans-serif;
    text-align: center;
    font-size: 13px;
    color: #848484;
    background-color: #f2f2f2;
}

.info {
    background-color: #800000;
    color: white;
}



