@charset "utf-8";
/* CSS Document */

body {
	background-color: #fff;
}
h3 {
    color: #8C7853 ;
}
h2 {
	color: #8C7853 ;
}


.image {
	margin: 1px 4px 0 0;
	padding: 1px; /* Tamanho da borda */
	background-color: #fff; 
	border: 3px solid #8C7853; /* Cor da borda */
	border-radius: 2px;
	height: 180px;
	width: 210px;
}

hr {
      color: #8C7853;
      background-color: #8C7853;
      height: 2px;
    }

