.carousel {
    width: 91%; /* Altera a largura do carousel */
    height: ; /* Altera a altura do carousel */
    margin-left: 5%;
}

.form-group {
    width: 250px;
}

form {
    margin-left: 5%;
}

.td-paragrafo1 {
    padding-left: 5%;
    padding-right: 0%;
    text-align: justify;
    width: 48%;
}

.td-paragrafo2 {
    padding-right: 5%;
    padding-left: 3.5%;
    text-align: justify;
}

.paragrafo {
    text-align: justify;
}

.google {
    margin-left: 5%;
    width: 43%;
}

.fraco {
	color:#bebebe;
}

.table {
    width: 43%;
    float: right;
    margin-right: 5%;
    
}

.footer {
    line-height: 2.5;
}