
.carousel {
    width: 90%; /* Altera a largura do carousel */
    height: ; /* Altera a altura do carousel */
    margin-left: 5%;
}

.form-group {
    width: 250px;
}

form {
    margin-left: 5%;
}

.td-paragrafo1 {
    padding-left: 5%;
    padding-right: 1%;
    text-align: justify;
    width: 50%;
    vertical-align: top;
}

.td-paragrafo2 {
    padding-right: 5%;
    padding-left: 1%;
    text-align: justify;
    width: 50%;
    vertical-align: top; 
}


.paragrafo {
    text-align: justify;
}

.google {
    margin-left: 5%;
    width: 44%;
}

.fraco {
	color:#bebebe;
}

.table {
    width: 44%;
    float: right;
    margin-right: 5%;
    
}

.footer {
    line-height: 2.5;
}