@charset "utf-8";
/* CSS Document */

.exemplo {
    width: 900px;
    height: 530px;
    border-radius: 10px;
}

.mapa {
    width: 1250px;
    height: 585px;
    border-radius: 10px;
    border: 2px solid;
    padding: 5px;
    border-color: #a35012;
}

h1 {
    font-family: sans-serif;
    color: #23303c;
    font-size: 27px;
    letter-spacing: 1px;
    font-variant: small-caps;
    font-weight: 100;
}

h2 {
    font-size: 22px;
    color: #2a3946;
    font-variant: small-caps;
    font-family: sans-serif;
}


.iff {
    width: 100px;
    height: 120px;
    border-radius: 10px;
    float: right;
}

#title {
    text-align: center;
}

p {
    text-align: left;
    font-family: sans-serif;
    font-size: 16px;
}

#conteudo {
    font-family: sans-serif;
}

figcaption {
    font-size: smaller;
    text-align: left;
}

div.figcaption {
    width: 900px;
}

