@charset "utf-8";
/* CSS Document */

/* Altera as imagens de exemplo */
.exemplo {
    width: 900px;
    height: 530px;
    border-radius: 10px;
}

/* Mapa conceitual sobre inclusão social e inclusão digital */
.mapa {
    width: 1250px;
    height: 585px;
    border-radius: 10px;
    border: 2px solid;
    padding: 5px;
    border-color: #a35012;
}

h1 {
    font-family: sans-serif;
    color: #23303c;
    font-size: 27px;
    letter-spacing: 1px;
    font-variant: small-caps;
    font-weight: 100;
}

h2 {
    font-size: 22px;
    color: #2a3946;
    font-variant: small-caps;
    font-family: sans-serif;
}

/* Símbolo do IFF no final da página */
.iff {
    width: 100px;
    height: 120px;
    border-radius: 10px;
    float: right;
}

#iff {
    width: 1270px;
    height: 100px;
    margin-bottom: 30px;
}

/* Títulos */
#title {
    text-align: center;
}

/* Altera o texto de todos os parágrafos da página */
p {
    text-align: justify;
    font-family: sans-serif;
    font-size: 16px;
}

/* Altera todo o conteúdo da página */
#conteudo {
    font-family: sans-serif;
    padding: 12px;
}

/* Altera todas as descrições de imagens */
figcaption {
    font-size: smaller;
    text-align: left;
}

/* Altera a descrição do Mapa Conceitual */
div.figcaption-um {
    width: 1250px;
}

/* Altera a descrição da imagem*/
div.figcaption-dois {
    width: 900px;
}

/* Altera todos os parágrafos da página */
div.paragrafo {
    width: 1250px;
    margin-left: 20px;
}

div.objetivos {
    width: 1250px;
    margin-left: 250px;
}

ul {
    text-align: justify;
}

a { /* Links */
    font-family: sans-serif;
    color: #c18e05;
    font-style: normal;
    text-decoration: none;
}

a:hover { /* Hover link */
    font-family: sans-serif;
    color: #c18e05;
    font-style: normal;
    text-decoration: underline;
}



/* CSS Bootstrap */

.carousel {
    width: 1000px; /* Altera a largura do carousel */
    height: 585px; /* Altera a altura do carousel */
}

.d-block {
    border-radius: 10px; /* Altera as bordas da imagem do carousel */
}

.carousel-inner {
    border-radius: 10px; /* Altera as bordas da transição de slide do carousel */
}

