@charset "utf-8";
/* CSS Document */

/* Altera as imagens de exemplo */
.exemplo {
    max-width: 76%;
    height: 585px;
    border-radius: 10px;
}

/* Mapa conceitual sobre inclusão social e inclusão digital */
.mapa {
    max-width: 95%;
    height: 595px;
    border-radius: 10px;
    border: 2px solid;
    padding: 5px;
    border-color: #a35012;
    margin-left: 1%;
}

h1 {
    font-family: sans-serif;
    color: #23303c;
    font-size: 27px;
    letter-spacing: 1px;
    font-variant: small-caps;
    font-weight: 100;
}

h2 {
    font-size: 22px;
    color: #2a3946;
    font-variant: small-caps;
    font-family: sans-serif;
}

/* Logos */
.iff {
    width: 85px;
    height: 100px;
    float: left;
    margin-top: 2px;
}

.tsi {
    width: 80px;
    height: 100px;
    float: right;
    margin-top: 2px;
}

#logo {
    max-width: 98%;
    height: 100px;
    text-align: center;
}

.titulo-principal {
    text-align: center;
    margin-left: 10%;
    margin-top: 5px;
}


/* Títulos */
#title {
    text-align: center;
}

/* Altera o texto de todos os parágrafos da página */
p {
    text-align: justify;
    font-family: sans-serif;
    font-size: 16px;
}

/* Altera todo o conteúdo da página */
#conteudo {
    font-family: sans-serif;
}

/* Altera todas as descrições de imagens */
figcaption {
    font-size: smaller;
    text-align: left;
}

/* Altera a descrição do Mapa Conceitual */
div.figcaption-um {
    width: 1250px;
}

/* Altera a descrição da imagem*/
div.figcaption-dois {
    width: 900px;
}

/* Altera todos os parágrafos da página */
div.paragrafo {
    max-width: 95%;
    margin-left: 20px;
}

div.objetivos {
    max-width: 95%;
    margin-left: 250px;
}

ul {
    text-align: justify;
}

a { /* Links */
    font-family: sans-serif;
    font-style: normal;
    color: #7c9bb4;
    text-decoration: none;
}

a:hover { /* Hover link */
    font-family: sans-serif;
    font-style: normal;
    text-decoration: underline;
}



/* CSS Bootstrap */

.carousel {
    max-width: 76%; /* Altera a largura do carousel */
    height: 585px; /* Altera a altura do carousel */
}

.d-block {
    border-radius: 10px; /* Altera as bordas da imagem do carousel */
}

.carousel-inner {
    border-radius: 10px; /* Altera as bordas da transição de slide do carousel */
}


