@charset "utf-8";
/* CSS Document */
.tabelalista {
    width: 800px;
    height: 200px;
    text-align: center;
    color: black;
    font-style: bold;
}

.imagem {
	height: 180px;
    width: 270px;
}

.timagem {
	height: 180px;
    width: 270px;
}

th {
	background-color: blue;
}

.tdlista {
	background-color: green;
}

.titulotabela {
	background-color: grey;
}

