@charset "utf-8";
/* CSS Document */
table {
    width: 800px;
    height: 200px;
    text-align: center;
}

th {
    border: 1px solid black;
    font-family: sans-serif;
    background-color: #800000;
    color: white;
}

td {
    border: 1px solid black;
    font-family: sans-serif;
    background-color: #f2f2f2;
}

tfoot {
    font-family: sans-serif;
    text-align: center;
    font-size: 13px;
    color: #848484;
    background-color: #f2f2f2;
}

.info {
    background-color: #800000;
    color: white;
}

.imagem {
	height: 180px;
    width: 260px;
}


